body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

header {
    background-color: aliceblue;
    height: 10vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}

#nameForm {
    position: absolute;
    top: 40vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    height: 60vh;
    width: 80vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

#quizContainer {
    background-color: aliceblue;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80vw;
    height: 50vh;
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    padding-bottom: 20px;
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    bottom: 20%;
    margin: 0;
    padding: 10px;
    position: absolute;
    flex-wrap: wrap;
}

.responseButton {
    background-color: rgb(221, 253, 231);
    border-radius: 5px;
    width: 15vw;
    height: 15vh;
    margin: 2px;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    transition: background-color 0.3s;
}

.responseButton:hover, #nextQuestion:hover {
    background-color: rgb(189, 223, 253);
}

#nextQuestion {
    background-color: rgb(221, 253, 231);
    width: 30vw;
    height: 8vh;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    border-radius: 5px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s;
}
.groomsmen {
    background-color: aliceblue;
    width: 80vw;
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 5vh;
}

img {
    width: 20vw;
    padding: 5px;
    border-radius: 20px;
}

/* adjust size when seen through phone */
@media (max-width: 600px) {
    .responseButton {
        width: 13vw;
        font-size: 9px;
        text-align: center;
    }

    #quizContainer {
        height: 80vh;   
    }

    img {
        width: 50vw;
    }
}
